<template name="students">
	<div>
    <div id="sideList" class="block padded boder">
        <h2>Class Name</h2>
        <input id="studentSearchBox" class="studentSearchBox" placeholder="Replace me with jquery or something" type="text" name="student">
        <br>
        <input type="checkbox" name="includeInactive" value="includeInactive">Include Inactive<br>
        <div class="padded border">
            <span>Student name 1 -CircleIcon-</span>
            <br>
            <span>Student name 2 -CircleIcon-</span>
            <br>
            <span>Student name 1 -CircleIcon-</span>
            <br>
            <span>Student name 2 -CircleIcon-</span>
            <br>
            <span>Student name 1 -CircleIcon-</span>
            <br>
            <span>Student name 2 -CircleIcon-</span>
            <br>
            <span>Student name 1 -CircleIcon-</span>
            <br>
            <span>Student name 2 -CircleIcon-</span>
            <br>
        </div>
        <button type="button">Add Student</button>
        <button type="button">Import...</button>
    </div>

    <div id="managePane" class="border padded block">

        <div>
            <h2>Student Information</h2>
        </div>

        <br>

        <div>

            <div class="block">
                <span><span class="label">First Name:</span><span id="fname">John</span></span>
                <br>
                <span><span class="label">Last Name:</span><span id="lname">Doe</span></span>
                <br>
                <span>Extra info span</span>
            </div>
            <div class="block">
                <span><span class="label">Active:</span><span><select name="active"><option value="yes">Yes</option><option value="no">no</option></select> </span></span>
                <br>
                <span><span class="label">Registration Date:</span><span id="registerDate">Fake Date</span></span>
                <br>
                <span><span class="label">Last Class Activity:</span><span id="activeDate">Fake Date</span></span>
            </div>

        </div>

        <div>
            Recent Classroom Activity
            <table>
                <tr class="label"><th>Poll Date</th><th>Poll Name</th><th>Score</th><th>Results</th></tr>
                <tr><td id="date_0">Fake Date</td><td id="name_0">poll name</td><td id="score_0"> 10 / 10</td><td><button type="button">View</button></td></tr>
                <tr><td id="date_1">Fake Date</td><td id="name_1">poll name</td><td id="score_1"> 10 / 10</td><td><button type="button">View</button></td></tr>
                <tr><td id="date_2">Fake Date</td><td id="name_2">poll name</td><td id="score_2"> 10 / 10</td><td><button type="button">View</button></td></tr>
                <tr><td id="date_3">Fake Date</td><td id="name_3">poll name</td><td id="score_3"> 10 / 10</td><td><button type="button">View</button></td></tr>
            </table>
        </div>

    </div>

</div>
</template>