<template name="login">
	<div class="loginForm">
	<form>
		<fieldset>
			<label for="userID">Username: &nbsp;</label>
			<input type="text" name="userID" placeholder="E-mail" required="required">
			<br>
			<br>
			<label for="password">Password: &nbsp;</label>
			<input type="password" name="password" placeholder="Password" required="required">
			<br>
			<br>
			<input id="loginButton" type="submit" value="Login">
			<br>
		</fieldset>
	</form>
	</div>
	<br>
	<input id="registerButton" type="submit" value="Register">
</template>
