.courseFieldset {
	padding: 0.2em;
	border:1px solid #1c94c4;
	margin: 0.8em;
	display: block;
}

.lectureGroup {
	display: inline-block;
	padding: 0.2em 0.5em;
	margin: 0.3em;
}

.oneCourse {
	margin: 0.4em;
}

#coursesID {
	margin: 0.5em;
	border: 2px solid black;
}

#courseGroupingsDiv {
	margin-bottom: 0.5em;
}

.divider {
    width:0.7em;
    height:auto;
    display:inline-block;
}

.loginForm {
	margin: 10px;
	max-width: 15%;
	text-align: center;
}

#registerForm {
	list-style-type: none;
}

#registerButton {
	margin-left: 10px;
}

#add-course {
	margin-left: 10px;
}

#cancelButton, #submitRegistration {
	margin: 5px;
}


/* Header */
header {
	margin:0;
	background-color: #e1e1e1;
	height: 15%;
	width: 100%;
	position: relative;
}

img#logo {
	position: absolute;
	top:0;
	left:0;
	height: 70%;
}

img#profilePic {
	height: 70%;
	width: 30%;
	margin: 5px;
	border-radius: 5px;
	right: 0px;
}

#userInfo {
	text-align: right;
	margin: 0;
}

#picInfoContainer {
	position: absolute;
	height: 125px;
	width: 300px;
	top: 0px;
	right: 0px;
	padding: 3px;
	padding-right: 0;
}

#headerContent {
	position: relative;
	height: 150px;
	width: 100%;
}

li#inline{
	display: inline;
}

ul#menuContainer{
	color: white;
	display: inline-block;
	border:3px solid black;
	width: 100%;
	background-color: #2597FC;
	margin: 0;
	position: absolute;
	bottom: 0;
	left:0;
	height: 20px;
	overflow: hidden;
	padding: 0;
	border-right: none;
	border-left: none;
}

.navBarClass > a {
	color: white;
	text-decoration: none;
	padding: 5px;
}

.navBarClass > a:hover {
	color: black;
	text-decoration: none;
}

/* QUIZ PAGE */
.block
{
    display: inline-block;
}

.titleInputText
{
    font-size: 23pt;
}

.questionAnswerBlock
{
    border-style: solid;
    border-width: 1px;
    padding: 10px;

}

.border
{
    border-style: solid;
    border-width: 1px;
}

.padded
{
    padding: 5px;
}


/* BODY */
body {
	margin: 0;
}